html {
  height: 100vh;
  width: 100%;
}
body {
  font-family: $font-family;
  background-color: #A29BFE;
  color: #2D3436;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
}
* {
  box-sizing: border-box;
}