//color
$main-page-bg-color: #A29BFE;
$main-page-color: #2D3436;

$primary-bg-color: #FFFFFF;
$secondary-bg-color: #6C5CE7;
$tertiary-bg-color: #FDCB6E;
$quaternary-bg-color: #55EFC4;
$quinary-bg-color: #A29BFE;
$senary-bg-color:  #74B9FF;
$septenary-bg-color: #FD79A8;
$octonary-bg-color: #FF7675;
$nonary-bg-color: #00B894;
$denary-bg-color: #00B894;

$primary-color: #FFFFFF;
$secondary-color: #6C5CE7;
$tertiary-color: #2D3436;
$quaternary-color: #ADADAD;
$quinary-color: #000000;

//font

$font-family: "Inter", sans-serif;

$font-style: normal;

$font-black: 900;
$font-extraBold: 800;
$font-bold: 700;
$font-medium: 500;
$font-normal: 400;

$font-size-1: 96px;
$font-size-2: 86px;
$font-size-3: 64px;
$font-size-4: 32px;
$font-size-5: 48px;
$font-size-6: 24px;
$font-size-7: 18px;
$font-size-8: 14px;
$font-size-9: 13px;
$font-size-10: 12px;


$line-height-1: 104px;
$line-height-2: 77px;
$line-height-3: 56px;
$line-height-4: 48px;
$line-height-5: 36px;
$line-height-6: 32px;
$line-height-7: 24px;
$line-height-8: 22px;
$line-height-9: 20px;
$line-height-10: 15px;
$line-height-11: 8px;
$line-height-12: 5px;

$letter-spacing-1: 3px;
$letter-spacing-2: 2.5px;
$letter-spacing-3: 0.3px;
$letter-spacing-4: 0.2px;
$letter-spacing-5: 0.25px;
$letter-spacing-6: -0.25px;
$letter-spacing-7: -0.5px;
$letter-spacing-8: -1px;


//border
$border-radius-1: 99px;
$border-radius-2: 20px;
$border-radius-3: 16px;
$border-radius-4: 12px;
$border-radius-5: 10px;
$border-radius-6: 8px;

